<?xml version="1.0" encoding="UTF-8"?>
<podstatty_settings>
    <!-- Name your database -->
    <db_path>data/example.sqlite</db_path>
    
    <!-- Where can Podstatty find your logfiles? -->
    <logfiles_path>path/to/your/logs</logfiles_path>
    
    <!-- Base URL of your podcast -->
    <base_url>http://example.com</base_url>
    
    <!-- Where should Podstatty put the results? -->
    <output_file>results/example_result.csv</output_file>
    
    <!-- Here you can define filters: Lines in your logfile containing the defined string will not be processed by Podstatty -->
    <exclude>        
        <filter content="torrent" />
        <filter content="-\n" />
        <filter content=" -" />
        <filter content=".smi" />
    </exclude>
</podstatty_settings>

